/* 
    Created on : 17 abr. 2025, 23:03:01
    Author     : Gonzalo Lopez Paglione
*/

* {
    font-family: sans-serif;
}


.logo {
    height: 75px;
}

body {
    margin: 0 auto;
    padding: 0px;
}

#contenedor {
    margin: 0 auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 8px;

}

header {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #ffc5c5;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9c1ff;
}

nav ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    gap: 300px;
}

nav ul a {
    text-decoration: none;
    color: white;

}

aside {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    min-width: 300px;
    background-color: #ffc5c5;
}

aside p{
    text-justify: auto;
}

aside button{
    max-height: 30px;
    align-items: center;
    align-content: center;
}

.biografia {
    display: flex;
    /* Flexbox para alinear elementos horizontalmente */
    background-color: #c8ff96;
    max-width: 1200px;
    /* Aumenta el ancho máximo */
    margin: 0 auto;
    /* Centra el contenedor */
    padding: 20px;
    gap: 20px;
    /* Espacio entre columnas */
    box-sizing: border-box;

}

.biografia article {
    padding: 30px;
    background-color: #ffffcc;
}

.biografia p {
    text-align: justify;
    font-size: 1.1em;
}



.biografia p span {
    font-size: 1.22em;
    font-weight: 700;
}

.biografia a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.biografia a img {
    position: left;
    margin: 50px;
    border: solid rgb(248, 143, 255) 5px;
    border-radius: 5px;
}

footer {
    display: flex;
    background-color: aquamarine;
}