/* 
    Created on : 17 abr. 2025, 23:03:01
    Author     : Gonzalo Lopez Paglione
*/

* {
    font-family: "Poppins", sans-serif;
}


.logo {
    height: 75px;
}

body {
    margin: 0 auto;
    padding: 0px;
}

#contenedor {
    margin: 0 auto;
    max-width: 1200px;
    /* Limita el ancho máximo */
    background-color: #f9f9f9;
    /* Fondo opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra opcional */
    border-radius: 8px;
    /* Bordes redondeados opcionales */
}

header {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #ffc5c5;
}

header h1 {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9c1ff;
}

nav ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    gap: 300px;
}

nav ul a {
    text-decoration: none;
    color: white;

}

.biografia {
    background-color: #c8ff96;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.biografia article {
    padding: 30px 0px 0px 20px;

}

.biografia p {
    text-align: justify;
    font-size: 1.1em;
}


.biografia p span{
    font-size: 1.22em;
    color: blueviolet;
    font-weight: 700;
}

.biografia img {
    margin: 50px;
    border: solid rgb(248, 143, 255) 5px;
    border-radius: 5px;
}